body {
    margin: 0;
    background-color: tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* background-color same width as window */
.navbar > ul {
    width: 100vw;
    background-color: #333;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
}

.navbar li {
    float: left;
    margin: 0;
    border-right: 1px solid #f3f3f3;
}

.navbar li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}

.navbar li:hover a {
    background: #4a8fef;
}

.navbar li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

.navbar li:hover ul a:hover {
    background: #4a8fef;
    color: #fff;
}

.navbar li ul {
    display: none;
}

.navbar li ul li{
    display: block;
    float: none;
}

.navbar li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

.navbar ul li a:hover + .hidden, .hidden:hover {
    display: block;
}


/* for responsible */
.show-menu {
    text-decoration: none;
    color: #fff;
    background: #4a8fef;
    text-align: center;
    padding: 0;
    display: none;
    height: 50px;
    line-height: 50px;
}

/* hide checkbox */
#show-menu {
    display: none;
}

/* show menu when checkbox is checked */
#show-menu:checked ~ #menu{
    display: block;
}

@media screen and (max-width:760px) {
    .navbar ul {
        position: static;
        display: none;
    }
    .navbar li {
        border-top: 1px solid #fff;
    }
    .navbar ul li, .navbar li a {
        width: 100%;
        background-color: #333;
    }
    .show-menu {
        display:block;
    }
}


/* part 2 */
.outer {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inner {
    width: 200px;
    height: 500px;
    box-shadow: .5rem .5rem 1rem #444;
    float: left;
    background-color: #999;
    border: 2px solid #111;
    border-radius: 1rem;
    text-align: center;
    margin-left: -.5rem;
    transition: width 1000ms;
}

#box1:hover {
    background-color: #466DE1;
    width: 260px;
}

#box2:hover  {
    background-color: #DA1A40;
    width: 260px;
} 

#box3:hover  {
    background-color: #DA1A40;
    width: 260px;
} 

#box4:hover  {
    background-color: #0A630D;
    width: 260px;
}

.image {
    margin: 1rem;
    width: 120px;
    height: 120px;
}

.description {
    text-align: left;
    margin: 1rem 2rem;
}

.description p {
    font-size: 18px;
}