body {
  background-color: #eee;
}

.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 10%;
}

.btn {
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
}

.taskInput {
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 180px;
  
}

.addBtn {
  border: none;
  color: tomato;
  background-color: transparent;
  font-size: 28px;
}

.list {
  list-style: none;
  list-style-position: inside;
  font-size: 28px;
  padding-left: 0;
  width: 100%;
}

.list li {
  padding: 5px;
}

.list li:nth-child(even) {
  background-color: #aaa;
}
